@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Have a nice day, " + ViewBag.UserAccount.UserName+"!";
}
<div class="container bg-secondary shadow p-3 mb-5 bg-white rounded p-5">
    <div class="row">
        <div class="col-lg-2">
            <img src=@ViewBag.UserAccount.PhotoUser style="max-width:120px; max-height: 120px;" class="rounded-circle im_avatar_photo">
        </div>
        <div class="col-lg-6 ">
            <h1 class="h1">@ViewBag.UserAccount.UserName</h1>
            <div>
                <p class="h4">Роль : @if (ViewBag.UserRole.ToString() == "User") 
                {
                    <a  class="badge badge-info">@ViewBag.UserRole</a>
                }
                else if (ViewBag.UserRole.ToString() == "Administrator")
                { 
                    <a class="badge badge-danger">@ViewBag.UserRole</a>
                }
                </p>
            </div>
        </div>
        <div class="col-lg-4 text-right">
            <button type="button" class="btn btn-warning text-right">Редактировать</button>
        </div>
    </div>
    <br class="breadcrumb">
    <div class="row p-lg-5">
        <div class="col-lg-12">
            <ul class="nav">
                <li class="nav-item m-1">
                    <a class="nav-link active btn btn-primary" data-toggle="tab" href="#home">Произведения</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="home" class="container tab-pane active">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Название</th>
                                <th scope="col">Удалить</th>
                                <th scope="col">Редактировать</th>
                                <th scope="col">Добавить главу</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.UserPosts)
                            {
                            <tr>
                                <th scope="row">@item.Name</th>
                                <td>
                                    <button type="button" class="btn btn-danger">Удалить</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning">Редактировать</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success">Добавать главу</button>
                                </td>
                            </tr>
                            }
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>