@model FanFan.Models.RegisterModel

<div class="container mt-5">
    <div class="row bg-secondary shadow p-3 mb-5 bg-white rounded m-2">
        <div class="col-6 col-md-4">
            
           
            <h2 class="display-5">Регистрация нового пользователя</h2>
            <form asp-action="Register" asp-controller="Account" asp-anti-forgery>
                <div class="form-group">
                    <label asp-for="UserName">Имя</label>
                    <input asp-for="UserName" class="form-control" aria-describedby="emailHelp" placeholder="Введите имя">
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="Email">Почта</label>
                    <input asp-for="Email" class="form-control" aria-describedby="emailHelp" placeholder="Введите почту">
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="Password">Пароль</label>
                    <input asp-for="Password" class="form-control" placeholder="Пароль">
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword">Повторите пароль</label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Повторите пароль">
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
                <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>