@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Ваше личное место</h2>
<h2>Привет, @User.Claims.ElementAt(1).Value!</h2>
<h3>Ваши произведения: </h3>

    <table>
        <tbody>
            <tr>
                <td>Название</td>
                <td>Краткое описание</td>
                <td>Количество глав</td>
                <td>Фендом</td>
                @*<td>Теги</td>*@
            </tr>
            @foreach (var item in ViewBag.UserPosts)
            {
            <tr>
                <td>@item.Name</td>
                <td>@item.ShortDescription</td>
                <td></td>
                <td></td>
            </tr>
            }
        </tbody>
    </table>
    <div>
        <a asp-action="Create" asp-controller="FanFiction">Добавить произведение</a>
    </div>
